.btn{
  border-bottom: none;

}

.btn-conn{
  float: left;
  background: transparent;
  margin-top:15px;
  margin-left: 0;
  color: $colorTitleBlue;
  font-weight: bold;

}

.btn-comment{
  background: none;
  border-style: none;
}